@import "../../../../../assets/theme/variables";

.formatsContainer{
  z-index: 999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  box-shadow: 0 1px 20px #6f6e6e;
  width: 80%;
  min-width: 1100px;
  .header{
	background-color: $headerBlack;
	height: 48px;
	display: flex;
	justify-content: space-between;
	padding: 11px 10px 7px 23px;
	border-radius: 4px 4px 0 0;
	.dx-header{
	  span{
		position: relative;
		bottom: 2px;
		cursor: pointer;
		color: $headerText;
		font-size: 1.2rem;
		&:hover{
		  color: $red;
		}
	  }
	}
	.sx-header{
	  img{
		height: 22px;
	  }
	  h1{
		color: $white;
		font-size: 24px;
		text-align: left;
	  }
	}
  }
  .content{
	border-radius: 0px 0px 4px 4px;
	background-color: #ffffff;
	overflow: hidden;
	padding: 16px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 4px;
	.format-box{
		h3{
		  padding: 5px 17px 5px 18px !important;
		  background-color: #efefef;
		  color: #000000;
		  font-size: 16px;
		}
	  	ul{
		  float: left;
		  margin: 0 auto;
		  padding: 0px;
		  width: 88px;
		  list-style: none;
		  display: inline-grid;
		  li{
			margin: 0;
			padding: 4px;
			text-align: left;
			span{
			  padding: 7px 0px 10px 40px;
			  margin: 5px 0 0 0;
			  width: 60px;
			  height: 35px;
			  background-size: 25px !important;
			  display: inline-block;
			}
		  }
	  	}
	}
  }
}

.extdoc {
  background: url("/public/img/matecat_file_icons.png") 6px 0 no-repeat !important;
}

/* .doc, .dot, . docx, .dotx, .docm, .dotm, .odt, .sxw*/
.extppt {
  background: url("/public/img/matecat_file_icons.png") 6px -34px no-repeat !important; }

/* .pot, .pps, .ppt, .potm, .potx, .ppsm, .ppsx, .pptm, .pptx, .odp, .sxi*/
.exthtm {
  background: url("/public/img/matecat_file_icons.png") 6px -70px no-repeat !important; }

/* .htm, .html, .xhtml */
.extpdf {
  background: url("/public/img/matecat_file_icons.png") 6px -104px no-repeat !important; }

/* .pdf */
.extxls {
  background: url("/public/img/matecat_file_icons.png") 6px -140px no-repeat !important; }

/* .xls, .xlt, .xlsm, .xlsx, .xltx, .ods, .sxc, .csv */
.exttxt {
  background: url("/public/img/matecat_file_icons.png") 6px -172px no-repeat !important; }

/* .txt */
.extxif {
  background: url("/public/img/matecat_file_icons.png") 6px -208px no-repeat !important; }

/* .xliff */
.extttx {
  background: url("/public/img/matecat_file_icons.png") 6px -242px no-repeat !important; }

/* .ttx */
.extitd {
  background: url("/public/img/matecat_file_icons.png") 6px -276px no-repeat !important; }

/* .itd */
.extxlf {
  background: url("/public/img/matecat_file_icons.png") 6px -310px no-repeat !important; }

/* .xlf */
.extmif {
  background: url("/public/img/matecat_file_icons.png") 6px -342px no-repeat !important; }

/* .mif */
.extidd {
  background: url("/public/img/matecat_file_icons.png") 6px -378px no-repeat !important; }

/* .idml, .inx, .icml */
.extqxp {
  background: url("/public/img/matecat_file_icons.png") 6px -412px no-repeat !important; }

/* .xtg */
.extxml {
  background: url("/public/img/matecat_file_icons.png") 6px -446px no-repeat !important; }

/* .xml */
.extrcc {
  background: url("/public/img/matecat_file_icons.png") 6px -484px no-repeat !important; }

/* .rc */
.extres {
  background: url("/public/img/matecat_file_icons.png") 6px -516px no-repeat !important; }

/* .resx */
.extsgl {
  background: url("/public/img/matecat_file_icons.png") 6px -552px no-repeat !important; }

/* .sgml */
.extsgm {
  background: url("/public/img/matecat_file_icons.png") 6px -584px no-repeat !important; }

/* .sgm */
.extpro {
  background: url("/public/img/matecat_file_icons.png") 6px -618px no-repeat !important; }

/* .properties */
.extdit {
  background: url("/public/img/matecat_file_icons.png") 6px -652px no-repeat !important; }

/* .dita */
.exttag {
  background: url("/public/img/matecat_file_icons.png") 6px -686px no-repeat !important; }

/* .tag */
.exttmx {
  background: url("/public/img/matecat_file_icons.png") 6px -722px no-repeat !important; }

/* .tmx */
.extstr {
  background: url("/public/img/matecat_file_icons.png") 6px -758px no-repeat !important; }

/* .str */
.extzip {
  background: url("/public/img/matecat_file_icons.png") 6px -792px no-repeat !important; }

/* .zip */
.exticml {
  background: url("/public/img/matecat_file_icons.png") 6px -826px no-repeat !important; }

/* .icml */
.extimg {
  background: url("/public/img/matecat_file_icons.png") 6px -860px no-repeat !important; }

/* .bmp, .gif, .jpeg, .png, .tiff */
.extwix {
  background: url("/public/img/matecat_file_icons.png") 6px -894px no-repeat !important; }

/* .wix */
.extsrt {
  background: url("/public/img/matecat_file_icons.png") 6px -928px no-repeat !important; }

/* .srt */
.extpo {
  background: url("/public/img/matecat_file_icons.png") 6px -962px no-repeat !important; }

/* .po */
.extg {
  background: url("/public/img/matecat_file_icons.png") 6px -996px no-repeat !important; }

/* .g */
.exts {
  background: url("/public/img/img/matecat_file_icons_ts.png") 6px 0px no-repeat !important; }

/* .ts */
.extgsli {
  background: url("/public/img/matecat_file_icons.png") 6px -1033px no-repeat !important; }

/* Google Slides */
.extgdoc {
  background: url("/public/img/matecat_file_icons.png") 6px -1070px no-repeat !important; }

/* Google Document */
.extgsheet {
  background: url("/public/img/matecat_file_icons.png") 6px -1107px no-repeat !important; }
