@import "../../../../../../assets/theme/variables";

#user {
  i {
	margin: 0 auto;
  }
  .user-nolog {
	text-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #04b8e9;
	border-radius: 50%;
	box-sizing: border-box;
	color: #002c5c;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 14px;
	height: 32px;
	width: 32px;
	margin-left: 24px;
	text-decoration: none;
	cursor: pointer;

	overflow: hidden;
	position: relative;

	&:hover {
	  box-sizing: border-box;
	  color: $lightBlue;
	  background-color: #002c5c;
	  border: 2px solid $lightBlue;
	}
  }
}
