@import "../../../../../../assets/theme/variables";

#user{
  p{
	display: inline-block;
	margin: 0px;
	margin-left: 16px;
	position: relative;
	color: #fff;
	font-weight: 500;
  }
  .logged {
	text-align: center;
	align-items: center;
	background-color: $headerText;
	border-radius: 50%;
	box-sizing: border-box;
	color: $white;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
	height: 36px;
	width: 36px;
	margin-left: 24px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid;
	&:hover {
	  color: $lightBlue
	}
  }
}
