@import "../../../../../../assets/theme/variables";

#user{
  p{
	display: inline-block;
	margin: 0px;
	margin-left: 16px;
	position: relative;
	color: #fff;
	font-weight: 500;
	line-height: 2;
  }
  .logged {
	text-align: center;
	align-items: center;
	background-color: $headerText;
	border-radius: 50%;
	box-sizing: border-box;
	color: $lightBlue;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 14px;
	height: 32px;
	width: 32px;
	margin-left: 24px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid $lightBlue;
	overflow: hidden;
	position: relative;
	/*img{
	  position: absolute;
	  height: 42px!important;
	}*/
	&:hover {
	  color: $lightBlue
	}
  }
}
