@import "../../../../../../assets/theme/variables";

#user{
  .logged {
	text-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	color: #03b8e9;
	display: -ms-inline-flexbox;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 8px;
	height: 32px;
	width: 32px;
	margin-left: 24px;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid #03b8e9;
	overflow: hidden;
	position: relative;
	/*img{
	  position: absolute;
	  height: 42px!important;
	}*/
	&:hover {
	  color: $lightBlue
	}
  }
}
