@import "../../../../assets/theme/variables";

.project-row {
  padding: 0px 16px;
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  column-gap: 16px;
  justify-content: center;
  //transition: background-color .3s ease-in, opacity .2s ease-in;
  > div {
    &:first-child {
      align-self: center;
      transition: color .2s ease-in;
    }
  }
  &:hover {
  }
  &.dropHover, &.droppedRow {
    > div:first-child {
      color: $white;
    }
    &.notDropStatus {
      background-color: #9e280e;
      cursor: not-allowed;
    }
    background: $primary;
    opacity: .9;
  }
  &.droppedRow {
    opacity: 1;
    background-color: $primary
  }
}


