@import "../../../assets/theme/variables";

.homeComponent{
  .visor{
    .visor-content{
      h1{
        width: 100%;
        text-align: center;
        font-size: 48px;
        color: $white;
      }
      h2{
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: 500;
      }
    }
  }

  .subHeader{
    z-index: 10;
    position: relative;
    background: $sectionGrey;
    height: 176px;
    top: -40px;
    h2{
      width: 88%;
      margin: 0 auto;
      padding: 24px 24px 24px 32px;
    }
  }
}