@import "../../../../../assets/theme/variables";

.segmentBox {
  font-size: 16px;
  text-align: left;
  z-index: 1;
  width: 100%;
  &-content {
    padding: 20px 10px;
    transition: box-shadow 600ms ease-in, transform 200ms ease-in;
    background: $white;
    box-shadow: 0 1px 1px #CCCCCC;
    user-select: none;
  }
  &.empty {
    border: 1px dashed $gray;
    &.onDropHover{
      border: 1px dashed $white;
    }
    .segmentBox-content {
      background: none;
      box-shadow: none;
      p {
        opacity: 0;
      }
    }

  }
  &.onDrag {
    border: 1px dashed $white;

    .segmentBox-content {
      background: $primary-light;
      box-shadow: none;
      p {
        opacity: 0;
      }
    }

  }
  &.onDropHover:not(.empty) {
    border: 1px dashed $white;
    .segmentBox-content {
      background: $white;
      box-shadow: none;
      position: relative;
    }
    &:not(.onDropHoverMerge){
      .segmentBox-content{
        transform: translate(10px,30px);
        opacity: 0.9;

      }
    }
  }

  &.selected{
    .segmentBox-content {
      box-shadow: none;
      outline: 2px solid $primary;
      outline-offset: -2px;
    }
  }

  .merge {
    width: 100%;
    border: 3px dashed $primary;
    display: block;
    color: $primary;
    text-align: center;
    line-height: 64px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}