@import "../../../../../assets/theme/variables";

.segmentBox {
  font-size: 16px;
  text-align: left;
  z-index: 1;
  width: 100%;
  position: relative;
  &-content {
    padding: 20px;
    transition: box-shadow 600ms ease-in, transform 200ms ease-in;
    background: $white;
    box-shadow: 0 1px 1px #CCCCCC;
    user-select: none;
    height: auto;
  }
  &:not(.empty):not(.onDropHover):not(.onDrag) {
    .segmentBox-content:hover {
      &::before, &::after {
        display: block;
        height: 20px;
        width: 10px;
        font-family: Icons;
        font-style: normal;
        font-weight: 400;
        color: $primary;
        position: absolute;
        content: "\f142";
        top: 50%;
        cursor: grab;
        transform: translateY(-50%);
      }
      &::before {
        left: 4px;
      }
      &::after {
        left: 10px;
      }
    }
  }
  &.empty {
    border: 1px dashed $gray;
    &.onDropHover {
      border: 1px dashed $white;
    }
    .segmentBox-content {
      background: none;
      box-shadow: none;
      p {
        opacity: 0;
      }
    }

  }
  &.onDrag {
    border: 1px dashed $white;

    .segmentBox-content {
      background: $primary-light;
      box-shadow: none;
      p {
        opacity: 0;
      }
    }

  }
  &.onDropHover:not(.empty) {
    .segmentBox-content {
      background: $white;
      box-shadow: none;
      position: relative;
    }
    .dropAlignArea {
      width: 100%;
      border: 1px dashed $white;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
    }
    &:not(.onDropHoverMerge) {
      .segmentBox-content {
        transform: translate(10px, 30px);
        opacity: 0.9;

      }
    }
  }

  &.selected {
    .segmentBox-content {
      box-shadow: none;
      outline: 2px solid $primary;
      outline-offset: -2px;
    }
  }
  &.onDropHoverMerge {
    .merge {
      width: 100%;
      height: 20px;
      border: 3px dashed $primary;
      display: block;
      color: $primary;
      text-align: center;
    }
  }

}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}