@import "../../../../assets/theme/variables";

#toolbar {
  padding: 0 32px;
  z-index: 20;
  position: fixed;
  height: 54px;
  background-color: $white;
  color: $midGregy;
  width: 100%;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 45px 1fr 2fr 1fr;
  align-items: center;
  box-shadow: 0 -5px 10px 0 rgba(198, 198, 198, 0.50);
  >:first-child{
    grid-column-end: span 2;
  }
}