@import "../../../../assets/theme/variables";

.resetContainer{
  z-index: 9999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  -webkit-box-shadow: 0 1px 20px #000;
  box-shadow: 0 1px 20px #6f6e6e;
  width: 80%;
  max-width: 577px;
  background: $white;
  .header{
	background-color: $headerBlack;
	height: 48px;
	display: flex;
	justify-content: space-between;
	padding: 11px 10px 7px 23px;
	border-radius: 4px 4px 0 0;
	.dx-header{
	  span{
		position: relative;
		bottom: 2px;
		cursor: pointer;
		color: $headerText;
		font-size: 1.2rem;
		&:hover{
		  color: $red;
		}
	  }
	}
	.sx-header{
	  img{
		height: 22px;
	  }
	  h1{
		color: $white;
		font-size: 24px;
		text-align: left;
		display: inline;
		margin-left: 8px;
	  }
	}
  }
  .content{
	border-radius: 0px 0px 4px 4px;
	background-color: $white;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: hidden;
	min-height: 50px;
	margin: 0 auto;
	text-align: left;
	.resetPasswordForm{
	  background: url(/public/img/matecat_watch-left-border.png) no-repeat -34px 136px;
	  background-size: 23%;
	  padding: 25px 96px;
	  text-align: right;
	  p{
		text-align: left;
	  }
	  input{
		margin-top: 5px;
		width: 100%;
		padding: .7em .6em;
		display: inline-block;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
		box-sizing: border-box;
		font-size: 15px;
		color: #333;
		margin-bottom: 17px;
	  }
	  button{
		width: 160px;
		background-color: #2BBEE9;
		border: 1px solid #7A7A7A;
		box-sizing: border-box;
		border-radius: 2px;
		text-transform: uppercase;
		margin: 15px 0px;
	  }
	  .forgot-password{
		cursor: pointer;
		text-decoration: underline;
		color: $darkBlue;
	  }
	}
  }
}
