RELEASE_VERSION = "0.0.1"
DB_SERVER = "mysql"
DB_DATABASE = "matecat_aligner"
DB_USER = "admin"
DB_PASS = "admin"

PARALLEL_CURL_TRANSLATIONS = 10
TRANSLATION_ENGINE = "MyMemory"
MAX_WORDS_PER_FILE = 100000

GOOGLE_API_KEY = "GOOGLE_APY_KEY_WITH_CLOUD_TRANSLATION_SERVICE_ENABLED"
MYMEMORY_EMAIL = "EMAIL_TO_CONNECT_WITH_MY_MEMORY"

GLOBAL_PRIVATE_TM = "KEY_OF_PRIVATE_GLOBAL_TM"

;GA_UA = "ID_OF_GOOGLE_ANALYTICS"
;INSPECTLET_ID = "ID_OF_INSPECTLET_WEBSITE"
;SENTRY_DSN = "DSN_OF_SENTRY"
;SENTRY_ENVIRONMENTS = "domain.example:Environment"

LOW_LIMIT_QUEUE_SIZE = 1000
HIGH_LIMIT_QUEUE_SIZE = 5000

SEGMENTS_PER_MINUTE = 10000