DB_SERVER = "mysql"
DB_DATABASE = "matecat_aligner"
DB_USER = "admin"
DB_PASS = "admin"

PARALLEL_CURL_TRANSLATIONS = 10
TRANSLATION_ENGINE = "MyMemory"

GOOGLE_API_KEY = "GOOGLE_APY_KEY_WITH_CLOUD_TRANSLATION_SERVICE_ENABLED"

GLOBAL_PRIVATE_TM = "KEY_OF_PRIVATE_GLOBAL_TM"