@import "../../../../assets/theme/variables";
@import "../../../../assets/theme/variables";

.logoutContainer {
  z-index: 9999;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border-radius: 4px;
  text-align: center;
  max-width: 600px;
  min-width: 400px;
  box-shadow: 0 1px 20px #6f6e6e;
  .header {
	background-color: $headerBlack;
	height: 48px;
	display: flex;
	justify-content: space-between;
	padding: 11px 10px 7px 23px;
	border-radius: 4px 4px 0 0;
	.dx-header {
	  span {
		position: relative;
		bottom: 2px;
		cursor: pointer;
		color: $headerText;
		font-size: 1.2rem;
		&:hover {
		  color: $red;
		}
	  }
	}
	.sx-header {
	  img {
		height: 22px;
	  }
	  h1 {
		color: $white;
		font-size: 24px;
		text-align: left;
		display: inline;
		margin-left: 8px;
	  }
	}
  }
  .content {
	border-radius: 0px 0px 4px 4px;
	background-color: $white;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: hidden;
	.user-info-form {
	  display: flex;
	  text-align: left;
	  width: 100%;
	  font-size: 18px;
	  margin-bottom: 30px;
	  background: #F2F4F7;
	  border-bottom: 1px solid #ccc;
	  padding: 20px 20px 20px 25px;
	  .avatar-user{
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 21px;
		color: $white;
		padding: 0;
		background: #b7b7b7;
		border: 1px solid #ccc;
		border-radius: 50px;
	  }
	  .user-name{
		display: inline-block;
		margin-left: 16px;
		strong{
		  font-size: 24px;
		}
		.grey-txt{
		  display: block;
		  margin: 8px 0px;
		}
		.link{
		  a{
			text-decoration: underline;
			font-size: 16px;
			cursor: pointer;
			&:nth-child(1){
			  margin-right: 16px;
			}
		  }
		}
	  }
	}
  }
}
