.align-project{
  background: #F2F4F7;
  max-height: 100vh;
  overflow: hidden;
  & > div{
    margin-top: 108px;
  }
}

.align-project.inSync{
  cursor: progress;
  position: relative;
}
.align-project.inSync *{
  pointer-events : none;
}
