@import "../../../../../assets/theme/variables";

#logged {
  h1, h3 {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
    font-weight: 300;
  }

  .user-data {
    display: flex;
    justify-content: center;
    margin: 32px 0;
    .logged {
      text-align: center;
      align-items: center;
      background-color: $headerText;
      border-radius: 50%;
      box-sizing: border-box;
      color: $white;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      font-size: 14px;
      height: 42px;
      width: 42px;
      margin-right: 16px;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid;
    }
    .info {
      margin-right: 16px;
      h3 {
        text-align: left;
        color: $secondaryText;
      }
      p {
        font-size: 14px;
        color: #d5d5d5;
      }
    }
  }

  .memories {
    max-height: 128px;
    overflow-y: scroll;
    width: 500px;
    margin: 32px auto;
    .memory {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      .memory-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
          margin: 0;
          padding: 0 16px;
          &:nth-child(1) {
            font-weight: 600;
            font-size: 14px;
          }
          &:nth-child(2) {
            color: $midGregy;
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .radio-container{
    padding: 0 4px;
  }
  .line {
    width: 410px;
    border: 1px solid #e8e8e8;;
    border-radius: 50px;
    margin: 8px auto 24px;
  }

  .memory-input-container {
    width: 406px;
    margin: 0 auto;
    display: flex;
    .memory-input {
      width: 100%;
      display: flex;
      justify-content: space-between;
      input {
        width: 336px;
        height: 56px;
        padding: 16px;
        display: inline-block;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        color: #333;
        margin-bottom: 24px;
        font-weight: 300;
      }
    }
  }

  .new-memory {
    width: 406px;
    margin: 24px auto;
    text-align: left;
    input {
      width: 75%;
      height: 56px;
      padding: 16px;
      border: 1px solid #cccccc;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      color: #333;
      font-weight: 300;
    }
    button{
      width: 20%;
      margin: 0 2%;
    }
    p{
      text-align: left;
      font-size: 12px;
      margin: 8px 0;
    }
  }

  .selection {
    margin: 16px 0;
    .ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label:before {
      background-color: $primary !important;
    }
    .ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
      color: $primary !important;
    }
    .active {
      color: $primary !important;
    }
    .inactive {
      color: $midGregy;
    }
  }

  .export-btn {
    background: $primary;
    color: $white;
    width: 160px;
    margin: 40px auto 16px;
    display: block;
    text-transform: none;
    font-size: 16px;
    font-weight: 300;
    padding: 12px;
    box-shadow: 0 2px 8px 0 #C5C5C5 !important;
    border-radius: 2px;
    text-align: center;
    border: none;
  }

}
