@import "../../../../assets/theme/variables";

#header{
  height: 108px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  li{
    color: $headerText;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    &:last-child{
      margin-right: 0px;
    }
  }
  .aligner-nav-log , .aligner-nav-nolog{
    background: $headerBlack;
    padding: 8px 12px;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0px;
    justify-content: space-between;
    #logo{
      top: 4px;
      border: 0;
      background: url("/public/img/logo.png") 0px 2px no-repeat;
      width: 145px;
      height: 31px;
      background-size: 130px 26px;
      position: relative;
    }
  }
  .aligner-nav-nolog{
    justify-content: space-between;
  }

  .aligner-nav-log {
    li {
      flex: 1;
      height: 38px;
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      &:nth-child(4) {
        text-align: right;
      }
    }
    #logo,
    #source_to_target,
    #user,
    #final_title,
    #mini_align_nav,
    #export {
      display: inline-block;
    }
    #final_title {
      position: relative;
      bottom: 8px;
      left: 24px;
    }
    #source_to_target {
      span {
        color: $white;
        margin: 0px 16px;
      }
    }
    #mini_align_nav {
      margin-right: 24px;
      #aligned {
        color: $white;
        display: inline-block;
      }
      span {
        &:nth-child(2) {
          margin-left: 8px;
        }
        border: 1px solid $secondaryText;
        border-radius: 2px;
        font-size: 1.5rem;
        position: relative;
        top: 4px;
        margin: 0px 2px;
        cursor: pointer;
        i {
          margin: 0px;
        }
      }
    }
  }
}
