@import "../../../../assets/theme/variables";

#header{
  height: 80px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #002b5c;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 0 60px;
  .aligner-nav-log{
    li{
      color: $white;
      font-size: 14px;
      font-weight: 300;
      &:last-child{
        margin-right: 0;
        text-align: right;
      }
      &.return-to-matecat {
        text-align: right;
        a {
          display: block;
          margin: 0 auto;
          background: #fff;
          color: #002b5c;
          font-size: 16px;
          width: 152px;
          text-align: center;
          max-height: 40px;
          border-radius: 5px;
          line-height: 1.25;
          border: none;
          padding: 10px 15px;
          font-weight: 500;
          &:hover {
            color: #3aa9dd;
          }
        }
      }
    }
  }
  .aligner-nav-log , .aligner-nav-nolog {
    display: -ms-flexbox;
    list-style: none;
    margin: 0;
    #logo{
      position: relative;
      a{
        display: block;
        width: max-content;
        img{
          height: 40px;
          max-width: 100%;
        }
      }
    }
  }
  .aligner-nav-nolog{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 100px;
    align-items: center;
    .return-to-matecat {
      text-align: right;
      a {
        display: block;
        margin: 0 auto;
        background: #fff;
        color: #002b5c;
        font-size: 16px;
        width: 152px;
        text-align: center;
        max-height: 40px;
        border-radius: 5px;
        line-height: 1.25;
        border: none;
        padding: 10px 15px;
        font-weight: 500;
        &:hover {
          color: #3aa9dd;
        }
      }
    }
  }

  .aligner-nav-log {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 56px 0.3fr 0.1fr 0.3fr 1.3fr 0.2fr;
    align-items: center;
    li {
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      &:nth-child(8) {
        text-align: right;
      }
    }
    #logo,
    #source,
    #to,
    #target,
    #user,
    #mini_align_nav{
      display: inline-block;
    }
    #final_title,
    #source,
    #target,
    #to{
      line-height: 3;
    }
    #to{
      font-size: 16px;
    }
    #target{
      text-align: left;
    }
    #source,#export{
      text-align: right;
    }
    #to,#final_title{
      text-align: center;
    }
    #source,#to,#target,#final_title {
      span {
        color: $white;
      }
    }
    #mini_align_nav {
      margin-right: 24px;
      #aligned {
        color: $white;
        display: inline-block;
      }
      span {
        &:nth-child(2) {
          margin-left: 8px;
        }
        border: 1px solid $secondaryText;
        border-radius: 2px;
        font-size: 1.5rem;
        position: relative;
        top: 4px;
        margin: 0px 2px;
        cursor: pointer;
        i {
          margin: 0px;
        }
      }
    }
  }
}
