@import "../../../../assets/theme/variables";

#header{
  height: auto;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .aligner-nav-log{

    li{
      color: $headerText;
      font-size: 14px;
      //line-height: 32px;
      font-weight: 300;
      &:last-child{
        margin-right: 0px;
        text-align: right;
      }
    }
  }
  .aligner-nav-log{
    padding: 8px 12px 6px;
  }
  .aligner-nav-nolog{
    padding: 8px 12px;
  }
  .aligner-nav-log , .aligner-nav-nolog{
    background: $headerBlack;
    display: -ms-flexbox;
    list-style: none;
    margin: 0;
    #logo{
      top: 4px;
      border: 0;
      background: url("/public/img/logo.png") 0px 2px no-repeat;
      width: 145px;
      height: 31px;
      background-size: 130px 26px;
      position: relative;
    }
  }
  .aligner-nav-nolog{
    justify-content: space-between;
    display: flex;
  }

  .aligner-nav-log {
    display: grid;
    grid-template-columns: 0.6fr 56px 0.7fr 0.5fr 0.1fr 0.5fr 0.7fr 0.6fr;
    li {
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
      &:nth-child(8) {
        text-align: right;
      }
    }
    #logo,
    #source,
    #to,
    #target,
    #user,
    #mini_align_nav{
      display: inline-block;
    }
    #final_title,
    #source,
    #target,
    #to{
      line-height: 3;
    }
    #final_title,#target{
      text-align: left;
    }
    #source,#export{
      text-align: right;
    }
    #to{
      text-align: center;
    }
    #source,#to,#target {
      span {
        color: $white;
      }
    }
    #mini_align_nav {
      margin-right: 24px;
      #aligned {
        color: $white;
        display: inline-block;
      }
      span {
        &:nth-child(2) {
          margin-left: 8px;
        }
        border: 1px solid $secondaryText;
        border-radius: 2px;
        font-size: 1.5rem;
        position: relative;
        top: 4px;
        margin: 0px 2px;
        cursor: pointer;
        i {
          margin: 0px;
        }
      }
    }
  }
}
