@import "variables";

.button{
  &.primary{
    width: 100%;
    background: $primaryBtnBg;
    border: 1px solid $primaryBtnborder;
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
  }
  &.secondary{

  }
}