//override semantic ui
.ui{
  &.header{
    margin-bottom: 8px;
    padding-left: 8px;
  }
  &.input {
    width: 100%;
    input[type="text"]{
      box-shadow: inset 0 1px 4px #00000025;
      /*height: 36px;
      border-radius: 2px;*/

    }
  }
}