/** Colors **/

$black:             #000000;
$white:             #ffffff;
$midGregy:          #7C7A7A;
$navbarBlack:       #4d4d4d;
$secondaryText:     #797979;
$mainBackground:    #E5E5E5;
$sectionGrey:       #E5E9F1;
$dropzoneBorder:    #D2D2D2;
$lightGrey:         #F2F4F7;
$white:             #ffffff;
$darkBlue:          #39699a;
$mainBlue:          #2185d0;
$lightBlue:         #03b8e9;
$primaryBtnborder:  #7A7A7A;
$primaryBtnBg:      #2BBEE9;
$red:               #FB570D;
$rose:              #FFA5A5;
$lightRose:         #FEF8F6;

/** Shadow **/

$cardShadow:     0px 2px 2px #CCCCCC;