@import "../../../../assets/theme/variables";

#modal-header{
  background-color: $white;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.5fr;
  padding: 24px;
  border-radius: 4px 4px 0 0;
  .dx-header {
	text-align: right;
	span {
	  position: relative;
	  bottom: 2px;
	  cursor: pointer;
	  color: $headerText;
	  font-size: 1.2rem;
	  &:hover {
		color: $red;
	  }
	}
  }
  .user-profile {
	text-align: left;
	.user-data {
	  float: left;
	  display: flex;
	  justify-content: center;
	  .logged {
		text-align: center;
		align-items: center;
		background-color: $headerText;
		border-radius: 50%;
		box-sizing: border-box;
		color: $white;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		font-size: 14px;
		height: 34px;
		width: 34px;
		margin-right: 16px;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid;
	  }
	  .info {
		margin-right: 16px;
		h3 {
		  text-align: left;
		  color: $secondaryText;
		  line-height: 1;
		}
		p {
		  font-size: 14px;
		  color: #d5d5d5;
		}
	  }
	}
  }
  .sx-header {
	text-align: left;
	img {
	  height: 32px;
	}
  }
}