@import "../../../assets/theme/variables";
@import "../../../assets/theme/form";

h1{
  text-align: center;
  margin: 16px 0px!important;
}

.bar-container{
  position: absolute;
  width: 400px;
  height: 24px;
  margin: 24px auto;
  left: 0;
  right: 0;
  z-index: 2;
  .progress{
	float: none;
	width: 100%;
	height: 24px;
	.bar{
	  min-width: 3%;
	  height: 24px;
	}
  }
}

.animation-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 100vh;
  overflow: hidden;
  .row {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	position: absolute;
	.sx, .dx {
	  width: 50%;
	  height: 100%;
	  position: relative;
	  .segment {
		width: 350px;
		margin: 0 auto;
		height: 64px;
		border-radius: 4px;
		padding: 16px 8px;
		box-sizing: initial;
		position: absolute;
		background-color: #eeeeee;
		top: -200px;
		.text {
		  height: 12px;
		  background-color: #bbb;
		  margin-bottom: 8px;
		  border-radius: 4px;
		  animation: text-color 6s infinite;
		  &:nth-child(1) {
			width: 240px;
		  }
		  &:nth-child(2) {
			width: 160px;
		  }
		  &:nth-child(3) {
			width: 80px;
		  }
		}
	  }
	}
	&:nth-child(2){
	  .segment{
		.text{
		  animation-delay: 3s;
		}
		animation-delay: 3s;
	  }
	}
  }
  .sx {
	.segment {
	  left: 16px;
	  animation: move-up-1 6s infinite;
	}
  }
  .dx {
	.segment {
	  right: 16px;
	  animation: move-up-2 6s infinite;
	}
  }
}

@keyframes move-up-1 {
  0% {
	top: 100%
  }
  40% {
	top: 240px;
	background-color: #eeeeee;
	transform: scale(1);
  }
  50% {
	top: 240px;
	background-color: #3aa9dd;
	transform: scale(1.01);
  }
  65% {
	top: 240px;
	transform: scale(1);
	opacity: 1;
  }
  80% {
	opacity: 0;
  }
  100% {
	top: -50px;
	opacity: 0;
	background-color: #fff;
	transform: scale(1);
  }
}

@keyframes move-up-2 {
  0% {
	top: 120%
  }
  40% {
	top: 240px;
	background-color: #eeeeee;
	transform: scale(1);
  }
  50% {
	top: 240px;
	background-color: #3aa9dd;
	transform: scale(1.01);
  }
  65% {
	top: 240px;
	transform: scale(1);
	opacity: 1;
  }
  80% {
	opacity: 0;
  }
  100% {
	top: -50px;
	opacity: 0;
	background-color: #fff;
	transform: scale(1);
  }
}

@keyframes text-color {
  0% {
	background-color: #bbbbbb;
  }
  40% {
	background-color: #bbbbbb;
  }
  50% {
	background-color: #79c3e6;
  }
  100% {
	background-color: #fff;
  }
}
