@import "../../../../assets/theme/variables";

.registration {
  z-index: 9999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  box-shadow: 0 1px 20px #6f6e6e;
  width: auto;
  .content {
	border-radius: 0 0 4px 4px;
	background-color: $white;
	overflow: hidden;
	height: 100%;
	width: 600px;
	padding: 0 24px 24px;
	.google-login {
	  cursor: pointer;
	  background: $white;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	  border-radius: 2px;
	  padding: 16px;
	  text-align: right;
	  font-size: 16px;
	  width: 196px;
	  color: $secondaryText;
	  span {
		float: left;
		color: $black;
	  }
	}
	.login-form-container {
	  width: 80%;
	  margin: 0 auto;
	  h3 {
		margin: 16px 0;
		font-size: 1.5rem;
	  }
	  .divider-line {
		height: 2px;
		width: 40%;
		background-color: #c5c5c5;
		margin-top: 10px;
		display: block;
		float: left;
	  }
	  .form-divider {
		width: 100%;
		text-align: center;
		position: relative;
		height: 20px;
		margin: 15px 0;
		.divider-line {
		  height: 2px;
		  width: 40%;
		  background-color: #c5c5c5;
		  margin-top: 10px;
		  display: block;
		  float: left;
		}
		span {
		  float: left;
		  width: 20%;
		  color: #656565;
		  display: inline-block;
		  position: relative;
		  bottom: 0;
		}
	  }
	  input {
		width: 100%;
		padding: 16px;
		display: inline-block;
		border: 1px solid #cccccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
		box-sizing: border-box;
		font-size: 14px;
		color: #333;
		margin-bottom: 24px;
		font-weight: 300;
		&[type="checkbox"]{
		  padding: 10px;
		  display: inline-block;
		  border: none;
		  box-shadow: none;
		  border-radius: 4px;
		  box-sizing: border-box;
		  color: #333;
		  margin: 0;
		  width: 32px;
		}
	  }
	}

	.btn-container{
	  justify-content: space-between;
	  display: flex;
	  margin-top: 24px;
	  .registration-btn,.back-to-login {
		width: 204px;
		margin: 0;
		display: block;
		text-transform: none;
		font-size: 16px;
		font-weight: 300;
		padding: 16px;
		box-shadow: 0 2px 8px 0 #C5C5C5 !important;
		border-radius: 2px;
		text-align: center;
		border: none;
		cursor: pointer;
	  }
	  .registration-btn{
		background: $primary;
		color: $white;
	  }
	  .back-to-login {
		color: $primary;
		background: $white;
	  }
	}
  }

  .content-confirm {
	border-radius: 0 0 4px 4px;
	background-color: $white;
	overflow: hidden;
	width: 400px;
	text-align: left;
	font-size: 16px;
	padding: 16px;
	p {
	  margin-bottom: 24px;
	}
	.resend {
	  display: flex;
	  justify-content: space-between;
	  margin: 16px;
	  p {
		color: #39699a;
		text-decoration: underline;
		font-weight: 600;
		cursor: pointer;
	  }
	  .login-btn {
		width: auto;
		padding: 0px 24px;
		font-size: 12px;
		height: 32px;
	  }
	}
  }
  .registration-error{
	padding: 8px;
  }
  .registration-error, .error-check {
	text-align: center;
	color: #cf3d2b;
  }
}
