@import "../../../../../assets/theme/variables";

#toolbar {
  .segment-actions {
    ul {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 4px 8px;
        button {
          -webkit-appearance: none;
          text-align: center;
          border: none;
          box-shadow: none;
          font-size: 13px;
          font-weight: 100;

          &:active, &:focus {
            box-shadow: none;
            outline: none;
          }
          i {
            display: block;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              color: $primary;
            }
            &.active {
              color: $primary;
            }
          }
          &:disabled {
            i{
              cursor: not-allowed;
              opacity: .45!important;
            }
          }
        }

      }
    }
  }
}