@import "../../../../../assets/theme/variables";

#toolbar {
  .cmd-shortcut {
    text-align: right;
    p {
      font-size: 12px;
      span {
        color: $black;
        font-weight: 600;
        &.active{
          color: $primary;
        }
      }
    }
  }
  .navigation{
    a{
      color: $black;
    }
  }
}