@import "../assets/theme/theme";
@import "Components/Home/Home.component";
@import "Components/Home/Upload/Upload.component";
@import "Components/Home/Upload/FileFormatsModal/FileFormatsModal.component";

@import "Components/Project/Job.component";
@import "Components/Project/Row/Row.component";
@import "Components/Project/Row/Segment/Segment.component";
@import "Components/Project/DragLayer/AdvancedDragLayer.component";

@import "Components/Shared/NotFound/NotFound.component";
@import "Components/Shared/Header/Header.component";
@import "Components/Shared/Header/Export/Export.component";
@import "Components/Shared/Header/User/User.component.scss";
@import "Components/Shared/Header/User/UserLogged/UserLogged.component";
@import "Components/Shared/Header/User/UserNotLogged/UserNotLogged.component";
@import "Components/Shared/Header/Mismatch/Mismatch.component.scss";
@import "Components/Shared/Footer/Footer.component";
@import "Components/Shared/Login/Login.component";
@import "Components/Shared/Logout/Logout.component";
@import "Components/Shared/ExportModal/ExportModal.component";
@import "Components/Shared/ResetPasswordModal/ResetPasswordModal.component";

@import "Components/Analyse/Analyse.component";
@import "Components/Analyse/Animation/Animation.component";
@import "Components/Analyse/PreAlignStatus/PreAlignStatus.component";