@import "../../../../assets/theme/variables";

.job-error {
  width: 600px;
  position: relative;
  margin: 16% auto;
  .text{
    margin-bottom: 48px;
    h1,h4{
      text-align: center;
      margin: 16px 0;
    }
    h1 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
  .new-align {
    background: $primary;
    color: $white;
    width: 180px;
    margin: 16px auto;
    display: block;
    text-transform: none;
    font-size: 16px;
    font-weight: 300;
    padding: 16px;
    box-shadow: 0 2px 8px 0 #C5C5C5 !important;
    border-radius: 2px;
    text-align: center;
    border: none;
  }
}