@import "../../../../../assets/theme/variables";

#completed {
  h1 {
	font-size: 32px;
	margin: 0px;
  }
  h3 {
	display: inline-block;
	font-size: 24px;
	margin: 16px 0;
	font-weight: 300;
  }
  .btn-container {
	margin: 64px auto;
	width: 360px;
	display: flex;
	justify-content: space-between;
	.newalign-btn, .close-btn {
	  margin: 0;
	  width: 160px;
	  display: block;
	  text-transform: none;
	  font-size: 16px;
	  font-weight: 300;
	  padding: 12px;
	  box-shadow: 0 2px 8px 0 #C5C5C5 !important;
	  border-radius: 2px;
	  text-align: center;
	  border: none;
	}
	.newalign-btn {
	  background: $primary;
	  a {
		color: $white;
	  }
	}
	.close-btn {
	  background: none;
	  color: $primary;
	}
  }
}