@import "../../../../assets/theme/variables";

.resetContainer{
  z-index: 999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  box-shadow: 0 1px 20px #6f6e6e;
  max-width: 400px;
  .header{
	background-color: $headerBlack;
	height: 48px;
	display: flex;
	justify-content: space-between;
	padding: 11px 10px 7px 23px;
	border-radius: 4px 4px 0 0;
	.dx-header{
	  span{
		position: relative;
		bottom: 2px;
		cursor: pointer;
		color: $headerText;
		font-size: 1.2rem;
		&:hover{
		  color: $red;
		}
	  }
	}
	.sx-header{
	  img{
		height: 22px;
	  }
	  h1{
		color: $white;
		font-size: 24px;
		text-align: left;
		display: inline;
		margin-left: 8px;
	  }
	}
  }
  .content{

  }
}
