@import "../../../../assets/theme/variables";

.splitContainer {
  z-index: 9999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  box-shadow: 0 1px 20px #6f6e6e;
  width: 600px;
  .header {
    background-color: $headerBlack;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 11px 10px 7px 23px;
    border-radius: 4px 4px 0 0;
    .dx-header {
      span {
        position: relative;
        bottom: 2px;
        cursor: pointer;
        color: $headerText;
        font-size: 1.2rem;
        &:hover {
          color: $red;
        }
      }
    }
    .sx-header {
      img {
        height: 22px;
      }
      h1 {
        color: $white;
        font-size: 24px;
        text-align: left;
        display: inline;
        margin-left: 8px;
      }
    }
  }
  .content {
    border-radius: 0px 0px 4px 4px;
    background-color: $white;
    overflow: hidden;
    min-height: 50px;
    margin: 0 auto;
    text-align: left;
    padding: 24px;
    #toSplit {
      border: 2px dotted #d5d5d5;
      padding: 16px;
      font-size: 14px;
      width: 100%;
      display: inline-block;
      > * {
        cursor: pointer;
      }
    }
  }
}
