@import "../../../../../assets/theme/variables";

#toolbar {
  .cmd-shortcut {
    display: flex;
    justify-content: flex-end;
    p {
      font-size: 12px;
      margin: 0;
      &:hover{
        color: $primary;
      }
      span {
        color: $black;
        font-weight: 600;
        &.active{
          color: $primary;
        }
      }
    }
    i{
      cursor: pointer;
      font-size: 16px;
      margin-left: 16px;
    }
  }
  .navigation{
    a{
      color: $black;
    }
  }
}