@import "../../../../assets/theme/variables";

.exportContainer {
  background: #ffffff;
  z-index: 9999;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  border-radius: 4px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  box-shadow: 0 1px 20px #6f6e6e;
  width: 800px;
  overflow: hidden;
  .content {
  	max-height: 70vh;
	border-radius: 0px 0px 4px 4px;
	background-color: $white;
	overflow: auto;
	padding: 0 24px 24px;
	#cat{
	  position: absolute;
	  bottom: -48px;
	  left: -24px;
	  height: 160px;
	  transform: rotate(45deg);
	}
  }
}

.alert{
  margin: 16px 0;
  .evidence{
	font-weight: 600;
  }
}
.send-email {
  padding: 24px 0 0;
  button {
	color: #7C7A7A;
	border: none;
	text-decoration: underline;
	cursor: pointer;
  }
}