@import "../../../../assets/theme/variables";

#footer{
  position: fixed;
  height: 36px;
  background-color: $midGregy;
  color: $white;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*display: flex;*/
  .ui.progress{
    float: left;
    width: 100px;
    background: #DADADA;
  }
  p{
    line-height: 1em;
  }
  a{
    color: $white;
  }
}