@import "../../../../../assets/theme/variables";

#export {
  button {
	width: 88px;
	margin: 0px;
	padding: 8px;
	text-transform: none;
	span {
	  i {
		margin: 0 auto;
		padding-left: 8px;
	  }

	}
  }
}

