@import "../../../../../assets/theme/variables";

#export {
  text-align: center;
  button {
	width: 200px;
	text-align: center;
	background: #fff;
	color: #002b5c;
	font-size: 17px;
	max-height: 40px;
	border-radius: 5px;
	line-height: 1.25;
	border: none;
	padding: 10px 15px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	span {
	  i {
		margin-right: 12px;
	  }
	}
	&:hover{
	  color: $lightBlue;
	}
  }
}

