@import "../../../../../assets/theme/variables";

#sender{
  h1,h3{
	margin: 0px;
	padding: 0px;
  }
  h1{
	font-size: 24px;
  }
  h3{
	font-size: 16px;
	font-weight: 300;
  }

  .sender-content{
	width: 300px;
	margin: 56px auto 0px;
	display: block;
	input{
	  width: 100%;
	  height: 56px;
	  padding: 16px;
	  display: block;
	  border: 1px solid #cccccc;
	  box-shadow: inset 0 1px 3px #ddd;
	  border-radius: 4px;
	  box-sizing: border-box;
	  font-size: 16px;
	  color: #333;
	  font-weight: 300;
	}
	p{
	  width: 100%;
	  text-align: left;
	  margin-bottom: 24px;
	  margin-top: 8px;
	}
  }

  .selection{
	width: 300px;
	padding: 0px 16px;
	margin: 0 auto;
	.ui.toggle.checkbox input:checked + label:before {
	  background-color: $primary !important;
	}
	.active{
	  color: $primary!important;
	}
	.inactive{
	  color: $midGregy;
	}
  }

  .actions{
	  margin: 40px 0;
	  .send-btn{
		  background: #00AEE4;
		  color: #ffffff;
		  width: 160px;
		  display: block;
		  text-transform: none;
		  font-size: 16px;
		  font-weight: 300;
		  padding: 12px;
		  box-shadow: 0 2px 8px 0 #C5C5C5 !important;
		  border-radius: 2px;
		  text-align: center;
		  border: none;
		  margin: 16px auto;
	  }
  }
}
